{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Analysis{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/analysis-style.css' %}">
</head>
<body>

  {% block header %}
  <div class="header">
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'about' %}">About</a>
  </div>
  {% endblock %}

  <div class="content">
    {% block content %}{% endblock %}
  </div>

{% block footer %}
  <script>
    function selectColumn() {
      var selectedColumn = document.getElementById("col-select").value;
      window.location.href = "/upload?action=describe&column=" + selectedColumn;
    }
  </script>
{% endblock %}
</body>
</html>
